.bundle
tmp/
coverage/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
log/*.yml
tmp/**/*
.sass-cache/
public/assets/
public/uploads/**/*
.redcar
.DS_Store
*.swp
*.swo
.rvmrc
vendor/ruby
doc/wiki_repo
solr/data/
solr/pids/
tags
chromedriver.log
spec/vcr
*.rdb
bin/start_server.sh
public/cache
public/assets/source_maps/
